<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Add User</title>
</head>
<body>
    <div class="container">
        <div style="flex-direction: column;align-items: center;margin-top: 5vh;">
            <div class="row">
				<div>
					<h1>Add User</h1>
				</div>
                <form class="col s12" action="/admin-create-user" method="POST">
                    <div class="row">
                    <div class="input-field col s12">
                        <input name="username" type="text" placeholder="user123" class="validate">
                        <label for="username">Username</label>
                    </div>
                    </div>
                    <div class="row">
                    <div class="input-field col s12">
                        <input name="password" type="password" placeholder="pass1234" class="validate">
                        <label for="password">Password</label>
                    </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>