<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Delete User</title>
</head>
<body>
    <div class="container">
        <div style="flex-direction: column;align-items: center;margin-top: 5vh;">
			<% deleteusers.forEach((deleteuser) => { %>
            <div class="row">
				<div>
					<h1>Delete User ID <%= deleteuser.id %> - <%= deleteuser.username %></h1>
				</div>
				Are you sure you want to delete this user?
				<br><br>
                <form class="col s12" action="/admin-delete-user" method="POST">
					<input name="deleteuserid" type="hidden" value="<%= deleteuser.id %>">
                    
                    <button type="submit" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-primary grey" onclick="location.href='/dashboard/'">No</button>
                </form>
            </div>
			<% })%>
        </div>
    </div>
</body>
</html>